<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896289827830-8vd1923a3sd0n80pl5tm0kniausmdcg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896289827830-8vd1923a3sd0n80pl5tm0kniausmdcg7</string>
	<key>API_KEY</key>
	<string>AIzaSyDVj5JSvrPprks2sgr-CKyeD9iXC-i5DL8</string>
	<key>GCM_SENDER_ID</key>
	<string>896289827830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rameolic.merchandising</string>
	<key>PROJECT_ID</key>
	<string>rmschat-59d0c</string>
	<key>STORAGE_BUCKET</key>
	<string>rmschat-59d0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896289827830:ios:b3b27d3fbb1c84637735d7</string>
	<key>DATABASE_URL</key>
	<string>https://rmschat-59d0c-default-rtdb.firebaseio.com</string>
</dict>
</plist>